.page-header {
  padding-top: 90px;
  padding-bottom: 60px;

  background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.4) 100%), url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

}
.page-header__title {
}
.title {
}
.page-header__nav-list {
}
.list {
}
.page-header__nav-item {
}
.page-header__nav-link { 

}
