.footer {
  background-color: #EFEED9;
  padding-top: 80px;
  padding-bottom: 40px;
  border-top: 1px solid C4C4C4;

  &__container { 
    @include flex-wrap (flex, wrap, column, 30px);
    @include tablet { 
      flex-direction: row;
      justify-content: space-around;
    }
  }
  &__logo {
    margin-bottom: 10px;
  } 
  &__text {
    margin-bottom: 10px;
    @include fonts (null, 15px, 1.5, 0.01em);
    color: #333333;
  } 
  &__wrapper-social {
    @include tablet { 
      display: flex;
      gap: 70px;
    }
    @include desktop { 
      flex-direction: column;
      gap: 10px;
    }
  }
  &__wrapper-logo-txt { 
    max-width: 250px;
  }
  &__header {
    margin-bottom: 10px;
    font-family: 'Playfair Display';
    @include fonts (700, 20px, 1.3, 0.01em);
    color: var(--secondary-accent-color);
  }
  &__wrapper-nav {
    display: none;
    @include tablet { 
      display: block;
      max-width: 200px;
    }
  }
  &__nav-list { 
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
  }
  &__btn { 
    margin-left: auto;
    margin-right: auto;
  }
  &__address-list { 
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #EFEED9;
    padding: 0;
  }
  &__address-item { 
    @media screen and (min-width: 768px) and (max-width: 1200px) { 
      &:first-child {
        display: flex;
    }
   }
  }
  &__nav-link, 
  &__address-link { 
    padding: 6px 0;
  }
}
.social-list {
  @include flex (flex, center, flex-start, 10px);
  &__item {
    @include flex (flex, center, center, 10px);
    width: 35px;
    height: 35px;
    background-color: var(--primary-background-color);
    &:hover .footer__icon ,
    &:focus .footer__icon {
        fill: var(--secondary-accent-color);
      }
  }
  &__link {
    width: 15px;
    height: 15px;
  }
  &__icon {
    fill: var(--primary-accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  }
}