.backdrop { 
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-logo { 
  padding-left: 20px;
  @include tablet { 
    display: none;
  }
}
.header-mob { 
  @include flex (flex, flex-end, space-between, null );
  @include tablet { 
    display: none;
  }
}
.header-top-mob { 
  @include tablet { 
    display: none;
  }
}
.mob-menu {
  position: fixed;
  background-color: var(--secondary-background-color);
  z-index: 1;
  top: 0;
  right: 0;
  width: 80vw;
  height: 100vh;
  > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__nav { 
    padding-left: 30px;
  }

  &__icon {
    background-color: var(--secondary-background-color);
  }
  &__close-btn, 
  &__open-btn  {
    display: block;
    margin-left: auto;
    background-color: var(--secondary-background-color);
    border: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: var(--primary-accent-color);
    }
  }
  &__open-btn 
  > &__icon { 
    background-color: var(--primary-background-color);
  }
  &__open-btn  { 
    background-color: var(--primary-background-color);
  }
  &__item:not(:last-child) {
    margin-bottom: 22px; 
  }
  &__link {
    @include fonts (500, 24px, 35px, 0.02em);
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--primary-accent-color);
    }
  }
}
.mob-menu__open-btn { 
  @include tablet { 
  display: none;
  }
}
.mob-menu__address {
  padding-left: 30px;
  margin-bottom: 100px;
}
.mob-menu__address-list {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.mob-menu__address-item {
  display: flex; 
  align-items: center;
  gap: 8px;
}
.mob-menu__address-icon {
  fill: var(--primary-accent-color);
}
.mob-menu__address-link {
  font-size: 15px;
  line-height: 24px;
  color: var(--text-color);
}





.header-top { 
  display: none; 
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  @include tablet { 
    @include flex (flex, center, space-between, null );
  }
}
.header-bottom {
  display: none;
  @include tablet { 
    @include flex (flex, center, null, 48px );
  }
  @include desktop { 
    column-gap: 78px;
  }
}
.logo { 
  width: 180px;
  height: 56px;
}
.address__item:first-child { 
  @media screen and (min-width: 768px) and (max-width:1200px) {
    display: none;
  }
}
.address { 
  &__list {
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-background-color);
    padding: 10px 0; 
    @include tablet { 
      background-color: #fff;
      column-gap: 70px;
    }
  }
  &__item { 
    @include flex (flex, center, null, 8px );
  }
  &__icon { 
    fill: var(--primary-accent-color);
  }
  &__link {
    display: block;
    position: relative;
    padding: 22px 2px;
    font-size: 13px;
    line-height: 1.6;
    color: var(--text-color); 
  }
}
.nav { 
  &__list { 
    display: flex;
    column-gap: 60px;
    @include desktop{ 
      column-gap: 90px;
    }
  }
  &__link {
    display: block;
    line-height: 1.2;
    color: var(--text-color); 
    text-transform: uppercase;
    padding: 26px 0;
  }
  &__item:nth-child(3) { 
    position: relative;
  }
  &__item:nth-child(3):hover .nav__submenu { 
    opacity: 1;
  }
  &__item:nth-child(3):hover .nav__icon { 
    transform: rotate(90deg);
    fill: var(--primary-accent-color);
  }
  &__icon { 
    fill: #D1D5D9;
    margin-left: 7px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__submenu { 
    position: absolute;
    top: 80%;
    left: 0;
    z-index: 1;
    background-color: var(--secondary-background-color);
    min-width: 100px;
    min-height: 100px;
    font-size: 15px;
    line-height: 1.2;
    color: var(--text-color);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__submenu-item { 
    padding: 0 7px;
  }
  &__submenu-link { 
    font-size: 15px;
    line-height: 2;
    color: var(--text-color);
    text-transform: uppercase;
  }
  
}

.header-buttons { 
  display: none; 
  @include desktop { 
    @include flex (flex, center, null, 32px);
  }
  
}
.visibility-button { 
  cursor: pointer;

  &__icon { 
    fill: var(--text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon:hover { 
    fill: var(--primary-accent-color);
  }

}
