.testimonials {
    padding: 100px 0;
    background-color: var(--secondary-background-color);
    background-image: url('../img/map-bg.png');
    background-repeat: no-repeat;
    background-position: 20% 50%;
    
    &__container { 
        @include desktop { 
            @include flex (flex, center, center, 160px);
        }
    }
    &__title {
        margin-bottom: 50px;
        text-align: center
    }  
    
}

.swiper { 
    padding: 0 40px 50px;

    &__item {
        padding: 35px;
        background-color: var(--primary-background-color);
    }
    
    &__img { 
        width: 120px;
        height: 120px;

        margin-bottom: 26px;
        margin-left: auto;
        margin-right: auto;
    }
    &__subtitle, 
    &__text, 
    &__name { 
        text-align: center;
        color: var(--text-color);
    }
    &__subtitle { 
        margin-bottom: 8px;

        font-family: 'Playfair Display';
        @include fonts (700, 20px, 1.3, 0.01em);
    }
    &__text { 
        margin-bottom: 14px;
        @include fonts (null, 15px, 1.6, 0.01em);

    }
    &__name {
        @include fonts (700, 15px, 1.6, 0.01em);
    }
}

.swiper-button-prev::after,.swiper-button-next::after  { 
    font-size: 20px;
}
.swiper-button-prev,.swiper-button-next { 
    color: #D1D5D9;
}

.swiper-pagination { 
    bottom: 0;
}
.swiper-pagination-bullet { 
    width: 10px;
    height: 10px;
    line-height: 1.5;
    background-color: var(--secondary-accent-color);
}