.page-header {
  padding-top: 90px;
  padding-bottom: 60px;

  background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.4) 100%), url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  &__title {
    text-align: center;
    color: var(--primary-background-color);
    margin-bottom: 15px;
  }
  &__nav-list { 
    @include flex (flex, center, center, null );
  }
  &__nav-link { 
    color: var(--primary-background-color);
  }
}

.news--padding { 
  padding: 120px 0;
}