.about { 
  padding-top: 50px;
  padding-bottom: 88px;
  &__title { 
    margin-bottom: 36px;
    text-align: center;
  }
  &__after-title { 
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 53px;
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
  }
}

.cards {
  @include flex-wrap (flex, wrap, column, 30px);
  justify-content: center;
  @include tablet { 
    flex-direction: row;
  }
  &__item {
    padding: 25px 20px;
    width: 100%;
    min-height: 300px;
    background-color: var(--secondary-background-color);
    @include tablet {
      width: calc((100% - 60px) / 3);
      }
    @include desktop { 
      padding: 31px 53px 45px;
    }
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover .cards__subtitle,
    &:focus .cards__subtitle { 
    text-transform: uppercase;
    }
    &:hover,
    &:focus{ 
    background-color: var(--primary-accent-color);
    }
    &:hover .cards__icon ,
    &:focus .cards__icon { 
        fill: var(--header-color);
}
  }
  &__icon { 
    fill: var(--primary-accent-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
  }
  &__subtitle {
    margin-bottom: 12px;
    font-family: 'Playfair Display';
    @include fonts (700, 20px, 1.2, 0.01em);
    text-align: center;
    text-transform: none;
    color: var(--secondary-accent-color);
  
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__text {
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
  }
}



