:root {
    --text-color: #333333;
    --header-color: #ffffff;
    --primary-accent-color: #FEE600;
    --secondary-accent-color: #495F1D;
    --primary-background-color: #ffffff;
    --secondary-background-color: #FAF9F5;
  }

